@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-slide-in-right {
        animation: slideInRight 0.7s ease forwards;
    }

    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}